<body>

<div class="container">
    
    <br><br>

    <nav>
        <div class="nav-wrapper white">
            <form>
                <div class="input-field">
                    <input id="search" type="search" required>
                    <label for="search" class="label-icon orange"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>
    </nav>
    
    {{#each gears}}    
            <div class="card horizontal">
                <div class="card-image">
                    <img src="{{image}}" alt="Gear Image">
                </div>
                <div class="card-stacked">
                    <div class="card-content indigo-text">
                        <ul>

                            <li>Gear Id: {{id}}</li>
                            <li class="divider" tabindex="-1"></li>
                            <li>Category : {{category.category_name}}</li>
                            <li class="divider" tabindex="-1"></li>
                            <li>Name: {{name}}</li>
                            <li class="divider" tabindex="-1"></li>
                            <li>Description: {{description}}</li>
                            <li class="divider" tabindex="-1"></li>
                            <li>Date Added: {{date_created}}</li>
                            <li class="divider" tabindex="-1"></li>
                            <li class="divider" tabindex="-1"></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
            {{/each}}

</div>

</body>
