<body>

<div class="container">
    
    <br><br>

      <div>
                        <a class="dropdown-trigger btn btn-large deep-purple lighten-2" href="#" data-target="dropdown2"
                            id="accent-font">what category of gear are you looking for?<i
                                class="material-icons right">expand_more</i></a>
                        <ul class="dropdown-content" id="dropdown2">
                            <span>{{#each categories}}
                                <li>{{category}}</li>
                                {{/each}}
                            </span>
                            <hr>
                            {{!-- trekking poles, backpacks, headlamps, compass --}}
                            <li>Hiking</li>
                            {{!-- tents, flashlight, stoves, sleeping bags, sleeping pads --}}
                            <li>Camping/Backpacking</li>
                            {{!-- ropes, harnesses, belay devices, helmets, chalk bags --}}
                            <li>Rock Climbing</li>
                            {{!-- fishing poles, nets, waders --}}
                            <li>Fishing</li>
                            {{!-- snowshoes, leg gaiters --}}
                            <li>Snowshoeing</li>
                            {{!-- ice axe, shovels --}}
                            <li>Mountaineering</li>
                            {{!-- skis, ski poles, boots, bindings, helmets, ski rack --}}
                            <li>Skiing</li>
                            {{!-- snowboards, boots, bindings, helmets, snowboard rack --}}
                            <li>Snowboarding</li>
                            {{!-- paddleboards, paddles-could just be implied, life vests --}}
                            <li>Paddleboarding</li>
                            {{!-- canoe, life vest? --}}
                            <li>Canoeing</li>
                            {{!-- kayak, life vest?, car rack --}}
                            <li>Kayaking</li>
                            {{!-- bike, helmet, bike rack --}}
                            <li>Cycling</li>
                        </ul>
    
    {{#each gears}}    
            <div class="card horizontal">
                <div class="card-image">
                    <img src="{{image}}" alt="Gear Image">
                </div>
                <div class="card-stacked">
                    <div class="card-content indigo-text">
                        <ul>

                            <li>Gear Id: {{id}}</li>
                            <li class="divider" tabindex="-1"></li>
                            <li>Category : {{category.category_name}}</li>
                            <li class="divider" tabindex="-1"></li>
                            <li>Name: {{name}}</li>
                            <li class="divider" tabindex="-1"></li>
                            <li>Description: {{description}}</li>
                            <li class="divider" tabindex="-1"></li>
                            <li>Date Added: {{date_created}} {{currentuser.email}}</li>
                            <li class="divider" tabindex="-1"></li>
                            <li class="divider" tabindex="-1"></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
            {{/each}}

</div>

</body>
