<main>
    <br><br><br>
    <div class="container" id="accent-font">
        <div class="row orange white-text col s6 brand-logo center" id="gear-cache">My Gear Cache</div>
       

        <div class="card horizontal">
            <div class="card-image">
                <img src="{{image}}" alt="Gear Image">
            </div>
            <div class="card-stacked">
                <div class="card-content indigo-text">
                    <ul>
                        <li>Gear page for: {{name}}</li>
                        <li class="divider" tabindex="-1"></li>
                        <li>Added on: {{date_created}}</li>
                        <li class="divider" tabindex="-1"></li>
                        <li>Description: {{description}}</li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
</main>

<script src="/js/delBtn.js"></script>


{{!-- cut from top and pasted at  bottom
<h1>Gear page for {{name}}</h1>
<h2>Created on: {{date_created}}</h2>
<p>{{description}}</p> --}}
